<html>
    <style>
        .row {
          font-size: 17.5px;
        }
        .column {
            padding: 5px;
        }
    </style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Fantasy Basketball Calculator</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Fantasy Basketball Calculator</a>
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="row">
                Welcome to Fantasy Basketball Calculator! The goal is to provide accurate fantasy basketball draft projections through mathematical
                analysis. Currently, the application only supports scoring for points leagues, with goals of incorporating category leagues in the future.
                To generate predictions, the system functions on a few fundamental concepts:<br>
                <br>
                <div class="column">
                    <div class="column" style="border: border-width: 2.5px; border-style:double;">
                        1. Player output calculated from per-game averages and total season fantasy points.<br>
                        2. Average year-to-year progressions of players collected over the last 20 years.<br>
                        3. Player correlations: using close player matches to predict next year's output.<br>
                        4. Average next year score based on players who had similar output at the given player's age.<br>
                    <br>
                    ** Important note: since there is no NBA data available for incoming rookies, they are not included in the predictions. **
                    </div>
                    <div class="column" style="border: border-width: 2.5px; border-style:double; font-size: 14px">
                        All stats were collected from <a href="https://www.basketball-reference.com/" target="_blank">Basketball Reference</a><br>
                        To read a more detailed documentation of the calculations <a href="https://github.com/ryangithubaccount/fantasy_basketball_calculator/blob/main/README.md" target="_blank">click here</a>.<br>
                        To access the source code <a href="https://github.com/ryangithubaccount/fantasy_basketball_calculator" target="_blank">click here</a>.
                    </div>
                </div>
                <div class="column" style="font-size: 17.5px;">
                    Choose your scoring system: Default (ESPN) or Custom<br>
                    <div class="column">
                        <form action="." method="POST">
                            <input type="submit" class="btn btn-success" value="Default" name='scoring-choice'>
                            &emsp;
                            <input type="submit" class="btn btn-success" value="Custom" name='scoring-choice'>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </body>
</html>
